@if (character()) {
  <section class="simpson-detail">
    
    <img 
      [src]="character()!['image'] || 'https://via.placeholder.com/300x300?text=No+Image'"
      alt="{{ character()!['name'] }}" 
    />

    <div class="info">
      <h1>{{ character()!['name'] }}</h1>

      @if (character()!['species']) {
        <p><strong>Species:</strong> {{ character()!['species'] }}</p>
      }

      @if (character()!['gender']) {
        <p><strong>Gender:</strong> {{ character()!['gender'] }}</p>
      }

      <pre class="debug">{{ character()! | json }}</pre>

      <a routerLink="/simpsons" class="back">← Volver a Simpsons</a>
    </div>

  </section>
}
