<section class="simpsons-detail-page">
  
  <button class="back-btn" (click)="backToList()">← Back to list</button>

  @if (loading()) {
    <p class="loading">Loading...</p>
  }

  @if (errorMsg()) {
    <p class="error">{{ errorMsg() }}</p>
  }

  @if (character()) {
    <div class="detail-card">

      <h2 class="name">{{ character()!.name }}</h2>

      <p><strong>Gender:</strong> {{ character()!.gender || 'Unknown' }}</p>
      <p><strong>Status:</strong> {{ character()!.status || 'Unknown' }}</p>
      <p><strong>Occupation:</strong> {{ character()!.occupation || 'Unknown' }}</p>

      @if (character()!.phrases?.length) {
        <div class="phrases">
          <h3>Famous Phrases:</h3>
          <ul>
            @for (p of character()!.phrases; track p) {
              <li>{{ p }}</li>
            }
          </ul>
        </div>
      }
    </div>
  }

</section>