.detail {
  display: flex;
  flex-direction: column; /* Antes estaba horizontal */
  gap: 2rem;
  padding: 2rem;
  background: #27ae60;
  border-radius: 20px;
  width: 80%;
  margin: 2rem auto;
  color: #ffffff;

  img {
    width: 250px;
    border-radius: 20px;
    margin: 0 auto;
  }

  .info {
    text-align: center;

    h1 {
      margin-bottom: 0.5rem;
    }
    p {
      margin: .3rem 0;
    }
  }

  pre.debug {
    background: rgba(0, 0, 0, 0.3);
    padding: 1rem;
    border-radius: 10px;
    overflow: auto;
    font-size: 0.9rem;
    color: #ffffff;
  }

  a {
    text-align: center;
    margin-top: 1rem;
    color: #ffffff;
    font-weight: bold;
    display: block;
  }
}
